#nav_content li:nth-child(5){
    background-color: #0b356b;
    font-weight: bold;
}


#main_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: space-between;
    padding: 0 1rem;
}

.container_question {
    height: 30%;
    width: 100%;
    padding: 1rem;
}

.container_question:nth-child(odd){
    background-color: #a3bac3;
}

.container_question h2 {
    font-size: 2rem;
}

.container_question p {
    padding-top: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
}