#nav_content li:nth-child(6){
    background-color: #0b356b;
    font-weight: bold;
}

#main_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
 }

#contact_head_container{
    width: 100%;

 }

.contact_container{
     width: 30%;
 }

.contact_container a:link,
.contact_container a:visited{
    text-decoration: none;
    color: #006989;
}

 .contact_container a {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .contact_container img{
   width: 9rem;
   height: 9rem;
 }

.contact_container address,
.contact_container p{
font-size: 1.5rem;
}

