#nav_content li:nth-child(3){
    background-color: #0b356b;
    font-weight: bold;
}

#main_content {
    padding: 1rem;
}

table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.2rem;
}