/* colors:
light: #EAEBED;
lighter: #A3BAC3;
dark: #006989;
darker: #003F52;
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color:  #A3BAC3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    width: 90rem;
    height: 50rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
 }

 /*---------------*/
 /*----SIDEBAR----*/
 /*---------------*/
  
#sidebar {
   flex: 0 0 18%;
  
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: #006989;
   font-size: 1.2rem;
   font-weight: 100;
   border-right: 1px solid black;

   }

#sidebar img {
    width: 15rem;    
}

#sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar li:not(:first-child) {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
}

#sidebar li figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    color: #A3BAC3;
}

#sidebar a:link,
#sidebar a:visited{
    text-decoration: none;
    color: #EAEBED;
    display: block;
    width: 100%;
    text-align: center;
    height: 100%;
    padding: 8px 0;
}

#sidebar a:hover,
#sidebar a:active {
    color: #A3BAC3;
    transition: color 0.5s;
}

#sidebar li:not(:first-child):hover {
    background-color: #003F52;
    transition: background-color 0.5s;
    
}

#nav_legal{
    display: flex;
    justify-content: center;
    color: #A3BAC3;
    padding: 0.5rem;
}


 /*---------------*/
 /*------MAIN-----*/
 /*---------------*/

#main_content{
    flex: 1;
    background-color: #EAEBED;
}