#nav_content li:nth-child(2){
    background-color: #0b356b;
    font-weight: bold;
}

#main_content {
    display: flex;
    justify-content: center;
    align-items: center;

}

#main_content p{
height: 3rem;
font-size: 3rem;
}