#nav_content li:nth-child(4){
    background-color: #0b356b;
    font-weight: bold;
}

#main_content{
    display: flex;
    flex-direction: row;
}

#container_img {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#container_img img{
    height: 85%;
    align-self: center;
}

#container_text
{
    width: 60%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container_citaat p:first-of-type
{
    border-left: 3px solid #33a474;
    font-style: italic;
    margin-bottom: 15px;
    padding-left: 30px;
    font-size: 1.3rem;
    color: #575757;
}

.container_citaat p:last-of-type
{
    color: #b5b5b5;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-bottom: 2.5rem;
}

#container_text > p
{
    font-size: 1rem;
    font-weight: 100;
    padding-bottom: 1rem;
    text-align: justify;
    padding-right: 3rem;
}
